<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<%- include ('partials/head'); -%>
	<link rel="stylesheet" href="/assets/stylesheets/quote.css">
</head>
<body>
<header>
	<%- include ('partials/nav'); -%>
</header>
<main>
	<% 
		// Make next/prev buttons visible if those quotes exist
		let leftVisibility = 'hidden';
		let rightVisibility = 'hidden';
		if (quote.prevExists) leftVisibility = 'visible';
		if (quote.nextExists) rightVisibility = 'visible';
	%> 
	<div class='quoteButtonsContainer'>
		<a href='/quote/<%=id - 1 %>'style="visibility:<%=leftVisibility%>">
			<button class="prevQuote" >&lt;</button>
		</a>
		<div class='quoteContainer'>
			<%- include ('partials/quote', {linksEnabled: true, avatars: avatars}); -%>
		</div>
		
		<a href='/quote/<%=parseInt(id) + 1 %>'style="visibility:<%=rightVisibility%>">
			<button class="nextQuote">&gt;</button>
		</a>
	</div>
</main>
<footer>
	<%- include ('partials/footer'); -%>
</footer>
</body>
</html>
